{% extends "template.html" %}

{% block title %}Horosdate{% endblock %}

{% block main %}


<div class="container">


    <!-- Seitentitel -->

    <div class="row">

            <div class="bd-title col-12 mb-3">
                <h1>All Lovers</h1>
            </div></div>



    <!-- Auflistung in Tabelle aus JSON -->

    <form method="GET">

            
                <!-- Inspriation: https://github.com/welschmichel/PROGR2/blob/master/templates/output.html -->

        {%if daten%}
    
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Vorname</th>
              <th scope="col">Nachname</th>
              <th scope="col">Mail</th>
              <th scope="col">Telefon</th>
            </tr>
          </thead>

          <tbody>

          {% for person in daten['personen'].values()%}
            {% for person in person.values() %}

            <tr>
              <td>{{person['vorname']}}</td> 
              <td>{{person['nachname']}}</td>
              <td>{{person['email']}}</td>
              <td>{{person['telefon']}}</td>
            </tr>
            
            {% endfor %}
            {% endfor %}
            
          </tbody>
        </table>

        {% endif %}


    </form>



</div>



{% endblock %}


<!----


<div class="container mt-5">
    <div class="row">
        <div class="col-12 mb-3">
            <h1>Personen</h1>
            <hr>
        </div>
        {% if prod %}

                <div class="container">
                  <div class="row">
            {% for key, value in prod.items() %}
                    <div class="col">                        
                        <h6>{{ key }}</h6> >>>KEY IST ID
                        <p>Geschlecht: {{ value ["geschlecht"] }}</p>
                        <p>Alter: {{ value ["alter"] }}</p>
                        <p>Grösse: {{ value ["groesse"] }}</p>
                        <p>Gewicht: {{ value ["gewicht"] }}</p>
                        <p>Aktivitätslevel: {{ value ["aktivitaet"] }}</p>
                        <p>Ziel: {{ value ["ziel"] }}</p>
                        <p>Trainingseinheiten pro Woche: {{ value ["training"] }}</p>
                        href="url_for("static, "bilder/{{key}}.jpg")" >>>> Wichtig!!!
                    </div>
            {% endfor %}
            
                  </div>
                </div>
        {% else %}
                <h3>Keine Einträge vorhanden</h3>
        {% endif %}
    </div>
</div>




–––– PROG –––

1. Person/Bild ID #Nummer zuweisen
2. Bild zwischen und Person herstellen
3. Key = Emailadresse (@ durch at erstetzen, Punkt entfernen)

>>> Hart coden!!!!!

