{% extends "template.html" %}

{% block title %}Horosdate{% endblock %}

{% block main %}


<div class="container">


    <!-- Seitentitel -->

  <div class="row">

      <div class="bd-title col-12 mb-3">
          <h1>All Lovers</h1>

          <!-- Button: Alle daten löschen -->

          <a href="{{ url_for('clear_database') }}" class="btn btn-danger">clear database</a>
      </div></div>


      <!-- falls gerade eine neue eingabe gemacht, entsprechende anzeige -->



    <!-- Auflistung in Tabelle aus JSON -->

        {% if daten['personen']['person'] %}

            <!-- Wenn neue Person in gleicher Session, dann Begrüssungssatz ausspielen -->

          {% if neue_person %}
            <p>
              Hallo <b>{{ neue_person['vorname'] }} {{ neue_person['nachname'] }}</b>! <br>
              <a href="{{ url_for('search', email=neue_person['email']) }}">Hier</a> geht's zu deinen Matches.<br><br>
            </p>
          {% endif %}

          <p>Hier findest du alle eingetragenen Personen und kannst ihre Matches auslesen.</p>
          <form method="GET">
          
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Vorname</th>
                    <th scope="col">Nachname</th>
                    <th scope="col">Tag</th>
                    <th scope="col">Monat</th>
                    <th scope="col">Jahr</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody>

             <!-- Alle personen durchgehen und daten der person auflisten -->

                {% for person in daten['personen'].values()%}
                  {% for person in person.values() %}
                    <tr>
                      <td>{{person['vorname']}}</td> 
                      <td>{{person['nachname']}}</td>
                      <td>{{person['tag']}}</td>
                      <td>{{person['monat']}}</td>
                      <td>{{person['jahr']}}</td>

                          <!-- Verlinkung zu Matches von Person, Primary für weiterleitung destiny -->

                      <td><a href="{{ url_for('search', email=person['email']) }}" class="btn btn-primary">Zu den Matches</a></td>
                    </tr>
                  {% endfor %}
                {% endfor %}
                  
                </tbody>
              </table>

          </form>

              <!-- Else: Wenn keine Daten/Pesonen vorhanden -->

        {% else %}

        <p>Keine Daten vorhanden! - Bitte zuerst <a href="{{ url_for('index') }}">Personen erfassen</a>.</p>

        {% endif %}

</div>


{% endblock %}