{% extends "template.html" %}

{% block title %}Horosdate{% endblock %}

{% block main %}


<div class="container">


    <!-- Seitentitel -->

  <div class="row">

      <div class="bd-title col-12 mb-3">
          <h1>All Lovers</h1>
      </div></div>



    <!-- Auflistung in Tabelle aus JSON -->

    <form method="GET">
        {%if daten%}
    
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Vorname</th>
              <th scope="col">Nachname</th>
              <th scope="col">Tag</th>
              <th scope="col">Monat</th>
              <th scope="col">Jahr</th>
              <th></th>
            </tr>
          </thead>

          <tbody>

          {% for person in daten['personen'].values()%}
            {% for person in person.values() %}

            <tr>
              <td>{{person['vorname']}}</td> 
              <td>{{person['nachname']}}</td>
              <td>{{person['tag']}}</td>
              <td>{{person['monat']}}</td>
              <td>{{person['jahr']}}</td>
              <td><a href="{{ url_for('search', email=person['email']) }}" class="btn btn-primary">Zu den Matches</a></td>
            </tr>
            
            {% endfor %}
          {% endfor %}
            
          </tbody>
        </table>

        {% endif %}
    </form>

</div>


{% endblock %}