{% extends "template.html" %}

{% block title %}Horosdate{% endblock %}

{% block main %}

<div class="container">
    <div class="row">

      <div class="bd-title col-12 mb-3">
          <h1>Your Destiny</h1>
      </div>
    </div>

    <p>
      Gib eine E-Mail Adresse ein, für welche du gerne Matches anzeigen würdest.
    </p>
    <form class="form-inline" method="post">
      <div class="form-group">
        <input type="email" name="destiny_email" class="form-control" placeholder="Email" value="{% if person_email %} {{ person_email }} {% endif %}" required>
      </div>
        <input type="submit" value="Matches anzeigen" class="btn btn-primary">
    </form>
    <br><br>

    {% if person_email %}

    <!-- Matches für eingegebene E-Mail/Person anzeigen -->
      {% if daten %}
        {% if match_emails %}
        <h2>Matches für <b>{{ daten['personen']['person'][person_email]['vorname'] }} {{ daten['personen']['person'][person_email]['nachname'] }} ({{ person_email }})</b></h2>
        <p>
          Die Matches werden anhand Sternzeichen, genauem Alter, etc. gemacht.
        </p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Vorname</th>
              <th scope="col">Nachname</th>
              <th scope="col">Geburtsdatum</th>
              <th scope="col">Email</th>
              <th scope="col">Telefon</th>
            </tr>
          </thead>

            <tbody>
            {% for email in match_emails %}

              <tr>
                <td>{{ daten['personen']['person'][email]['vorname'] }}</td>
                <td>{{ daten['personen']['person'][email]['nachname'] }}</td>
                <td>{{ daten['personen']['person'][email]['tag'] }}.{{ daten['personen']['person'][email]['monat'] }}.{{ daten['personen']['person'][email]['jahr'] }}</td>
                <td>{{ daten['personen']['person'][email]['email'] }}</td>
                <td>{{ daten['personen']['person'][email]['telefon'] }}</td>
              </tr>

            {% endfor %}
            </tbody>
          </table>

          {% else %}

          <p>
            Keine Matches zu {{ person_email }} gefunden!
          </p>

          {% endif %}
        
        {% else %}

        <p>
          Kein Datensatz zu {{ person_email }} gefunden!
        </p>
        {% endif %}
      {% endif %}
</div>
{% endblock %}