<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" href="{{ url_for('index') }}">HOROSDATE</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


<!-- Navigation mit path-abfrage für aktiven navigationspunkt -->


    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link {% if request.path == '/' or 'index' in request.path %}active{% endif %}" href="{{ url_for('index') }}">Find Love</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'all' in request.path %}active{% endif %}" href="{{ url_for('all') }}">All Lovers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if 'search' in request.path %}active{% endif %}" href="{{ url_for('search') }}">Your destiny</a>
            </li>
        </ul>
    </div>

</nav>